/* Universal Rules */
.map__informationPanelContent{
    height: 100%;
    padding: 20px;
    width: 100%;
}


.informationPanel__statsSection{
    outline: 1px solid grey;
    margin-bottom: 1rem;
}
.informationPanel__infoHeader{
    color: grey;
    margin-right: 10px;
}

/* Information Panel Header */
.informationPanel__mainHeader{
    /* outline: 1px solid yellow; */
    display: flex;
        align-items: center;
        justify-content: space-between;
    margin-bottom: 2rem;
}
    .informationPanel__mainHeader h2{
        padding: 0;
        margin: 0;
    }
    .informationPanel__mainHeader button{
        background-color: transparent;
        color: white;
        border: none;    
        padding-right: 0;

    }
        .informationPanel__mainHeader button span{
            padding: 10px;
                padding-right: 0;
        }

/* Single Item Row */
.informationPanel__singleItemRow{   
    display: flex;
        align-items: center;
}
    .informationPanel__singleItemRow .informationPanel__infoHeader{
        font-size: 1.2rem;
        padding-left: 5px;
    }
    .informationPanel__singleItemRow .informationPanel__infoNumber{
        font-size: 2rem;
    }

/* Double Item Row */
.informationPanel__doubleItemRow{
    display: flex;
        justify-content: space-evenly;
}

@media screen and (max-width:768px){
    .informationPanel__doubleItemRow > div{
       display: flex;
       flex-direction: column;
    }

    .informationPanel__singleItemRow .informationPanel__infoNumber{
        font-size: 1.5rem;
    }
    
}

@media screen and (min-width:992px){
    .informationPanel__doubleItemRow > div{
        min-width: 100px;
    }
    .latestStats__disclaimer p{
        font-size: 12px;
    }

    .informationPanel__mainHeader h2{
        font-size: 1.5rem;
    }

    .informationPanel__singleItemRow .informationPanel__infoHeader{
        font-size: 0.8rem;
    }
    .informationPanel__singleItemRow .informationPanel__infoNumber{
        font-size: 1.8rem;
    }
}