.RMPSearchWrapper{
    /* outline: 1px solid cyan; */
    box-shadow: 0px 0px 10px 0px #00000040;
}


.RMPComponentView__resultNumber{
    box-shadow: none !important;
    padding: 20px !important;
    height: auto !important;
    min-height: auto !important ;
    font-size: 1.5rem;
}

.RMPComponentView__search{
    box-shadow: none !important;
    min-height: auto !important ;
    padding: 0 !important;

   
}
.RMPComponentView__search input{
   
    border: none;
    font-size: 2rem;
    opacity: 0.5;
    padding: 0 !important;
    text-align: center;
    height: 100%;
    width: 100% !important;
}

.RMPComponentView__search input:focus-visible{
    outline: 0px
}