.ColourFlipper__componentContainer{
    padding: 0 !important;
}
.colourFlipper{
    background-color: black;
    /* outline: 1px solid red; */
    color: white;
    display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    height: 100%;
    /* margin: 20px; */
    /* padding: 20px */
    width: 100%;
    /* z-index: 20; */
}

.colourFlipper__innerContainer{
    background-color: #6c757d;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    min-width: 60px;
    font-size: x-large;
    padding-left: 10px;
    padding-right: 10px;
}
    .colourFlipper__header{
        color: aqua;
    }
    .colourFlipper__displayColour{
        padding-bottom: 10px;
        padding-top: 10px;
        text-align: center;
    }
.colourFlipper__buttonContainer{
    margin: 0 auto;
    margin-top: 25px;
    text-align: center;
    width: 90%;
}