


.covid19Dashboard__latestContainer{
    
}

.locationInfo{
    display: flex;
    align-items: center;
}
.locationInfo > span{

}
.locationInfo span img{
    width: 30px;
    border-radius: 10px;
    margin-right: 5px;
}

#locationInfo__population{

}

.latestStatsDisplay > div > .col {
    margin-bottom: 10px;
}
.latestStatsDisplay > div > .col > div{
    outline: none !important;
    
}
.latestStatsDisplay > div > .col > div > h6, 
.latestStatsDisplay > div > .col > div > div > h6{
    color: grey;
    margin: 0;
    min-width: 150px;
    /* outline: 1px solid; */
}


.latestStatsDisplay > div > .col > div > p, 
.latestStatsDisplay > div > .col > div > div > p{
    color: white;
    margin: 0;
}

/*  */

/* covid19Dashboard__graphContainer p-4 */
@media screen and (max-width:768px){

    .latestStatsDisplay > div > .col > div{
        outline: none !important;
        flex-wrap: wrap;
    }

    .covid19Dashboard__graphContainer{
        display: none;
    }
}

@media screen and (max-width:992px){
    .latestStats__disclaimer p{
        font-size: 10px !important;
    }
}

/* Loading */

.searchResultsLoading{
    display: flex;
        align-items: center;
        justify-content: center;
    /* outline: 1px solid red; */
}

.searchResultsLoading p{
    font-size: 1.5rem;
}