*{ outline: 1px solid red;}
.boardWrapper{
    display: flex
}
.board_item{
    /* border: 1px dashed black; */
    /* border-radius: 10px; */
    text-align: center;

}

.dropArea{
    position: relative;
    outline: 1px solid red;
    min-height: 300px;
}


.board_item{
    
}

.moveBoardOverlay{
    outline: 1px solid black;
    height: 100%;
    width: 100%;
    background-color: red;
    position: absolute;
    display: none;
}

.showOverlay{
    display: block;
}

.testStyle{
    background-color: grey !important;
    /* border-bottom: 10px solid red !important; */
}
@keyframes thing {
    0%{ opacity: 0.5; transform: translateX(0);}
    100%{ opacity: 2; transform: translateX(500);}
}