/* Buttons */
.Tabs__componentContainer{
    padding: 0 !important;
}
.tabs__buttonsContainer .active{
    background-color: black;
    color: white;
} 

    .tabs__button{
        border: none;
        padding: 10px;
        width: 100%;
    }