@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&family=VT323&display=swap');

borderRadius{
    --border-radius:20px
}


.simpleCalculator__container {
    /* background-color: #2fff8c; */
    display: flex;
        align-items: center;
        position: relative;
    width: 100%;
    height: 100%;
}


.simpleCalculator__header{
    /* outline: 1px solid red; */
    
    margin:0 auto;
    text-align: center;
    width: 35%;
    z-index: 10;
}
.simpleCalculator__header p{
    font-style: italic;
    margin: 0;
    
    font-family: 'VT323', monospace;
}
.simpleCalculator__header h2{
    font-family: 'VT323', monospace;
}
.randomShape{
    background-color: #2fff8c;
    position: absolute;
    height: 33%;
    width: 100%;
    z-index: 0;
}



.simpleCalculator_calculator{
    /* background-color: #efefef; */
    background-color: #bdbdbde3;
    border-radius: var(--border-radius);
    /* background-color: blueviolet; */
    /* box-shadow: 1px 1px 18px 1px black; */
    box-shadow: 0px 0px 14px 0px black;

    display: flex;
    flex-direction: column;
    width: 250px;
    /* max-width: 260px; */
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
    outline: 5px solid black;

    z-index: 10;
}

.simpleCalculator__display{
    background-color: black;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    /* color: #50ff17; */
    color: #2fff8c;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'VT323', monospace;
    font-size: 2.5rem;
    overflow-wrap: break-word;
    padding: 10px;
}

.simpleCalculator__numbers{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
}


.simpleCalculator__operators{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 1fr);
}

.simpleCalculator__solution{
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(1,1fr);
    /* padding-right: 10px; */
    /* width: 25%; */
}

.simpleCalculator__numbers button,.simpleCalculator__operators button, .simpleCalculator__solution button {
    border: none;
    border-radius: 40px;
    font-size: 1.3rem;
    min-height: 60px;
    outline: 1px solid #0000002e;
}

.simpleCalculator__numbers button:focus,.simpleCalculator__operators button:focus, .simpleCalculator__solution button:focus{
    outline: 1px solid #0000002e;
}

.simpleCalculator__numbers button:hover, .simpleCalculator__solution button:hover{
    background-color: black;
    color: white;
    
}

.simpleCalculator__numbers button:active, .simpleCalculator__operators button:active{
    box-shadow: inset 0px 0px 10px 5px white;
}

.simpleCalculator__operators button:hover{
    background-color: grey;
}

.simpleCalculator__row1{
    /* outline: 1px solid red; */

}

.simpleCalculator__row2{
    /* outline: 1px solid blue; */
    /* display: flex; */
    /* margin-bottom: 5px; */
    margin-top: 5px;
    padding: 5px;
}

.simpleCalculator__row3{
    display: flex;
    padding: 5px;
    /* outline: 1px solid green; */
}

#solutionButton{
    grid-column-start: 4;
    grid-row-start: 1;
    grid-row-end: 5;
}

    #solutionButton:active{
        box-shadow: inset 0px 0px 10px 5px #22cd6f;
    }



#solutionButton:hover{
    background-color: #2fff8c;

}
#clearAllButton:hover{
    background-color: red;
    color: white;
}

#clearAllButton:active{
    box-shadow: inset 0px 0px 10px 5px white;
}