    .latestStatsDisplay__row{
        display: flex;
            align-items: center;
            justify-content: space-around;
        margin-bottom: 10px;
    }

        .latestStatsDisplay__column{
            display: flex;
                align-items: center;
                flex-direction: column;
            text-align: center;
        }
            .latestStatsDisplay__property{
                color: grey;
                min-width: 100px;
            }

/* Tablet -> 768px Min */
@media screen and (min-width: 768px) {
    .latestStatsDisplay__container{
        margin: 0 auto;
        width: 92%;

    }
    .latestStatsDisplay__row{
        margin-bottom: 30px;
    }
    .latestStatsDisplay__column{
        border-bottom: 1px solid #80808059; 
        flex-direction: row;
        min-width: 200px;
        text-align: left;
    }
}

/* Desktop / Laptop -> 993px min */
@media screen and (min-width:992px) {
    .latestStatsDisplay__container{
        display: flex;
        flex-wrap: wrap;
    }
    .latestStatsDisplay__row{
        flex-direction: column;
        width: 33%;
    }
}