.taskboardWrapper{
    display: flex;
        justify-content: flex-start;
        flex-direction: column;
    height: 100%;
    overflow: auto;
    width: 100%;
    /* outline: 1px solid blue; */
}

.taskboardWrapper * p,
.taskboardWrapper * div,
.taskboardWrapper * form,
.taskboardWrapper * input,
.taskboardWrapper * textarea{
    font-family: 'Open Sans', sans-serif;
}

.taskboardWrapper * h1, 
.taskboardWrapper * h2,
.taskboardWrapper * h3,
.taskboardWrapper * h4,
.taskboardWrapper * h5,
.taskboardWrapper * h6{
    font-family: 'Roboto', sans-serif;
}


.taskboardHeader{
    display: flex;
        align-items: center;
        justify-content: space-between;
    /* position: relative; */
}

.allColumns{
    display: flex;
}

.deleteAllButton{
    border-radius: 5px;
    box-shadow: 2px 2px 0px 0px #a1a1a1;
    cursor: pointer;
    /* outline: 1px solid red; */
    display: flex;
        align-items: center;
        justify-content: center;
    margin-right: 10px;
    padding: 10px;
    
}

.deleteAllButton:hover{
    background-color: #a1a1a1;
}

.confirmDeleteAllBox{
    /* outline: 1px solid red; */
    background-color: #a1a1a1;
    bottom: 0;
    display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    font-size: 1.5rem;
    left: 0;
    height: 100%;
    margin: 0 !important;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 1000;
}
.confirmDeleteAllBox p{
    /* border-bottom: 5px solid red; */
    margin: 0;
    padding: 0;

}
.confirmDeleteAllBoxButtons{
    display: flex;
        flex-direction: column;
}

.confirmDeleteAllBoxButtons  button{
    margin-bottom: 10px;
    border: none;
    box-shadow: 2px 2px 0px 0px #a1a1a1;
}

#warningLine{
    width: 0%;
    animation: animateWarningLine 2s;
    animation-fill-mode: forwards;
}



#warningLine hr{
    height: 15px;
    color: red;
    opacity: 1;
}

@keyframes animateWarningLine {
    0%{
        opacity: 0;
        width: 0%;
    }

    100%{
        opacity: 2;
        width: 40%;
    }
}