/* Form - Styles left to avoid html bloat */
.simpleTodo__formContainer button{
    background-color: #ff000000;
    border: none;
}

.simpleTodo__formContainer input{
    border: none;
    border-bottom: 10px solid #efefef;
    width: inherit;
}

.simpleTodo__formContainer input:focus-visible{
    background-color: #efefef;
    outline: none;
}

/* List */
.simpleTodo__singleItem{
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 3px 3px 3px 1px black;
    outline: 1px solid;
    padding: 13px;

}

.simpleTodo__singleItem:hover{
    background-color: #e0edff;
    transform: translateX(2px);
    transition: 1s;
}

.simpleTodo__singleItem p{    
    overflow-wrap: break-word;
}

/* Delete All */
    .simpleTodo__deleteAllButton{
        background-color: #ff000000;        
        opacity: 0.5;
    }

    .simpleTodo__deleteAllButton:hover{
        background-color: red;
        opacity: 2;
    }

    .simpleTodo__confirmDeleteAllContainer{
        display: none;
    }

    .simpleTodo__confirmDeleteAllContainer span{
        opacity: 2;
        width: inherit;
        text-align: center;
        padding: 10px;
    }

    /* Empty Field Warning */
    .simpleTodo__emptyFieldWarning{ display: none;}
    
    /* Used for various functions when unhiding elements */
    .show{ display: flex;}
