.simpleSlider__container{
    width: 100%;
    position: relative;
    top: 0;
}

.simpleSlider__sliderWrapper{
    display: flex;
    transition: 1s linear;
}

.simpleSlider__sliderWrapper img{
    width: 100%;
}

