.simpleSlider__container{
    width: 100%;
    overflow: hidden;
    transition: 0.25s linear;
}

.simpleSlider__sliderWrapper{
    display: flex;
    transition: 0.25s linear;
}

/* .simpleSlider__sliderWrapper img{
    width: 100%;
} */


.simpleSlider__buttonContainer button{
    background-color: white;
    display: grid;
    border: none;
}