.slider__container{max-width: 630px;}
.slider__ImageWrapper{ border-radius: 20px; }
.slider__singleImage{ transition: 0.25s linear; }
    .slider__singleImage img{ border-radius: 20px; }

.slider__singleImageCaptionWrapper{
    background-color: #00000094;
    cursor: pointer;
    transition: 0.25s linear;
}

.slider__singleImageCaptionWrapper:hover{
    opacity: 2 !important;
}

/* buttons */
.simpleSlider__buttonContainer button{
    border-radius: 10px;
    background-color: #0b0d0d1f;
}