/************************************************* githublink.js + taskInformation*/
.componentItemButtonIconContainer{ z-index: 0; }
.componentItemButtonIcon img{
    opacity: 0.25;
    width: 25px;
    z-index: 20;
}

.componentItemButtonIcon img:hover{
    cursor: pointer;
    opacity: 2;
    animation: githubAnimation 1s;
    animation-fill-mode: forwards;
}

@keyframes githubAnimation{
    0%{ transform: rotate(0deg) }
    25%{ transform: rotate(20deg) }
    50%{ transform: rotate(-20deg) }
    75%{ transform: rotate(20deg) }
    100%{ transform: rotate(0deg) }
}

/************************************************* taskInformation.js */
.informationContainer{
    z-index: 20;
    animation: showInformationAnimation 0.5s;
    animation-fill-mode: forwards;
    transform-origin: 0px 0px;
}

@keyframes showInformationAnimation {
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 2;
        transform: scale(1);
    }
}

.informationContainer__background{ cursor: pointer; }
.informationContainer__content{
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px #00000040;
    cursor:default;
    z-index: 30;
}

/* Video */
.SimpleVideo__componentContainer .componentItemButtonIconContainer, .ColourFlipper__componentContainer .componentItemButtonIconContainer{
    z-index: 10;
}

/*  */

.hideElement{
    display: none !important;
}