.covid19DashboardContainer{
    /* background-color: grey; */
    background-color: #272b30;
    color: white;
    display: flex;
        flex-direction: column;
    height: 100%;
        min-height: 600px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.slideWrapper{
    outline: 1px solid red;
    display: flex;
    height: 100%;
    position: relative;
    transition: 0.25s linear;
    
}

.slide{
    outline: 1px solid black;
    position: absolute;
    height: 100%;
    width: 100%;
}

.s1{
    transform: translateX(100%);
    /* background-color: red; */
}

.s2{
    transform: translateX(200%);
    /* background-color: green; */
}

.s3{
    transform: translateX(0%);
    /* background-color: blue; */
}

/* controls */
.buttonWrapper{
    display: flex;
    justify-content: space-evenly;
    /* position: absolute; */
    /* bottom: 0; */
    width: 100%;
    z-index: 20;
}