.covid19DashboardContainer *{
    /* outline: 1px solid red; */
}
.covid19DashboardContainer{
    /* background-color: grey; */
    background-color: #272b30;
    color: white;
    display: flex;
        flex-direction: column;
        justify-content: center;
    height: 100%;
        min-height: 700px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.covid19DashboardContainer .searchResultsLoading{
    display: flex;
        align-items: center;
        flex-direction: column;
}
.slideWrapper{
    outline: 1px solid red;
    display: flex;
    height: 100%;
    position: relative;
    transition: 0.25s linear;
    
}

.slide{
    outline: 1px solid black;
    position: absolute;
    height: 100%;
    width: 100%;
}

.s1{
    transform: translateX(100%);
    /* background-color: red; */
}

.s2{
    transform: translateX(0%);
    /* background-color: green; */
}

.s3{
    transform: translateX(200%);
    /* background-color: blue; */
}

/* controls */
.buttonWrapper{
    /* display: flex; */
    /* justify-content: space-evenly; */
    /* width: 100%; */
    /* z-index: 20; */
}

.setFavCountry{
    cursor: pointer;
    display: flex;
        align-items: center;
    /* margin-bottom: 10px; */
    /* outline: 1px solid grey; */
    outline: none !important;
    width: 100%;
}

#star{
    font-size: 1rem;
    margin-left: 10px;
    color: gold;
}

#unstar{
    font-size: 1rem;
    margin-left: 10px;
}