/* *{outline: 1px solid red;} */

.boardWrapper{
    display: flex;
        justify-content: space-around;
}

    .boardWrapper > div{
        outline: 1px solid black;
    }

.dropArea{
    outline: 1px solid green;
    height: 100%;
}