.SimpleAPIFetch__componentContainer{
    padding: 0 !important;
}

/* Moving Github logo to right */
.SimpleAPIFetch__componentContainer .component_githubLinkContainer{
    left: auto;
    right: 5px;
}


.simpleApiFetch__container{
    position: relative;
    width: 100%;
}


