.SimpleAPIFetch__componentContainer{
    padding: 0 !important;
    background-color: black;
}

/* Moving Github logo to right */
.SimpleAPIFetch__componentContainer .componentItemButtonsContainer{
    left: auto;
    /* right: 5px; */
    justify-content: flex-end;
}

.SimpleAPIFetch__componentContainer .componentItemButtonsContainer .informationContainer{

    animation: showInformationAnimationAlternate 0.5s;
    animation-fill-mode: forwards;
    justify-content: flex-start;
    transform-origin: 100% 0px;
}

@keyframes showInformationAnimationAlternate {
    0%{
        opacity: 0;
        /* transform: translateY(-50px) translateX(-50px); */
        transform: scale(0);
        
    }

    100%{
        opacity: 2;
        /* transform: translateY(0) translateX(0); */
        transform: scale(1);
    }
    

}
