.loremIpsum__form {
    width: 100%;
}

.loremIpsum__form input{
    background-color: #e1e1e1;
    line-height: 2rem;
    text-align: center;
    border: 0;
    width: 100%;
}

.loremIpsum__form label{
    background-color: #0066ff;
    color: white;
    line-height: 2rem;
    text-align: center;
    width: 100%;
}

.loremIpsum__formContainer button{
    border:0;
    line-height: 2rem;
}

.loremIpsum__errorMessage{
    color: white;
    background-color: red;
    animation: showError 1s;
    animation-fill-mode: forwards;
}

@keyframes showError {
    0%{
        opacity: 0;
        transform: translateY(-10px);
    }
    100%{
        opacity: 1.0;
        transform: translateY(5px);
    }
}