:root{
    --rightStarting:-100%;
    --main-colour: #daf2f3;
    --border-radius:20px;
}


/* Before moving on */
    /* 1 - Add Variables to organise code - Done * /
    /* 2 - Add Bootstrap code to sidebar.js to reduce code here - Done*/

.sidebar__container{
    background-color: white;
    box-shadow: 0px 0px 30px 0px #0000002e;
    border-radius: var(--border-radius);
    /* outline: 1px solid red; */
    height: 95%;
        min-height: 600px;
    right: var(--rightStarting);
    top: 3%;
    width: 300px;
}

.sidebar__header{
    box-shadow: 0px 5px 0px 0px var(--main-colour);
    border-radius: var(--border-radius);
}

.showSidebar{
    animation: 1s showSidebarAni;
    animation-fill-mode: forwards;
}
    @keyframes showSidebarAni{
        0%{ right: var(--rightStarting); }
        90%{ right: 5px; }
        100%{ right: 0px; }
    }

.hideSidebar{
    animation: 1s hideSidebarAni;
    animation-fill-mode: forwards;
}

    @keyframes hideSidebarAni{
        0%{ right: 0px; }
        10%{right: 10px}
        100%{ right: var(--rightStarting); }
    }


.sidebar__container li:hover{
    background-color: var(--main-colour);
}


@media screen and (max-width:800px){
    .sidebar__container{
        width: 100%;
    }
}