.searchInputArea{
border-bottom:1px solid #ffffff1a ;
}

.searchInputArea h2{
    font-size: 1.75rem;
    margin: 0;
    white-space: nowrap;
}

.searchInputArea form input{
    background-color: #2a2e32;
    border: none !important;
    color: white;
    height: 55px;
}

.searchInputArea form :focus-visible{
    border: 0px;
    outline: 0px ;
}

@media screen and (max-width:768px) {
    .searchInputArea{
        flex-direction: column;
    }
    .searchInputArea h2{
        padding: 5px;
    }
    .searchInputArea form{
        outline: 1px solid grey;
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
    }
}

