footer{
    /* outline: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer__innerContainer{
    background-color: black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0px 4px 30px 0px #0000002e;
    color: white;
    text-transform: lowercase;
    text-align: center;
    width: 100%;
        max-width: 1320px;


}

.footer__scrollTop{
    padding: 5px;
    /* outline: 1px solid red; */
    background-color: white;
    color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: 10px;

}

.footer__scrollTop:hover{
    animation: hoverScrollBtn 1s;
    animation-fill-mode: forwards;
}

@keyframes hoverScrollBtn {
    0%{ transform: translateY(0); }
    50%{ transform: translateY(-5px); }
    100%{ transform: translateY(0px); }
}