/* *{outline: 1px solid red;} */

.itemWrapper{
    margin-bottom: 10px;
}

.item{
    border-radius: 5px;
    box-shadow: 2px 2px 0px 0px #a1a1a1;
    color: black;
    display:flex;
        align-items: center;
        justify-content: space-evenly;
    /* margin: 10px; */
    margin-bottom: 5px;
    min-height: 50px;
    /* padding-left: 10px; */
    /* outline: 1px solid black; */
    
    user-select: none;
    width: 100%;

    animation: animateNewItem 1s;
    animation-fill-mode: forwards;
    transform: translateY(0px);
    opacity: 1;
}


@keyframes animateNewItem {
        0%{ opacity: 0; transform: translateY(-25px); }
        50%{ transform: translateY(0px); }
        100%{ opacity: 2; }
}

#itemContent{
    width: 75%;
}

.openDescriptionButton{
    cursor: pointer;
}

/* Item Status */
.itemCheck{
    cursor: pointer;
}
.itemOpen{

}

.itemClosed{
    
}

.hasDescription{
    font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.emptyDescription{
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}