/* *{outline: 1px solid red;} */

.itemWrapper{
    margin-bottom: 10px;
}

.item{
    border-radius: 5px;
    box-shadow: 2px 2px 0px 0px #a1a1a1;
    color: black;
    display:flex;
        align-items: center;
        justify-content: space-evenly;
    /* margin: 10px; */
    margin-bottom: 5px;
    min-height: 50px;
    /* padding-left: 10px; */
    /* outline: 1px solid black; */
    
    user-select: none;
    width: 100%;
}

#itemContent{
    width: 75%;
}

.itemCheck{
    opacity: 0.5;
    cursor: pointer;
}

/* Item Window */
.itemWindow{
    background-color: #a1a1a1;
    height: 100%;
    /* outline: 1px solid red; */
    position: absolute;
        bottom: 0;
    width: 100%;
    z-index: 1;
}

.itemWindow span img{
    height: 50px;
}

.itemWindow form{
    /* background-color: red; */
    margin: 5px;
}

.itemWindow form:focus, .itemWindow form textarea:focus-visible{
    /* background-color: red; */
    border:none;
    outline: none;
}


.itemWindow form textarea{
    background-color: #a1a1a1;
    border: none;
    /* height: 200px; */
        min-height: 190px;
    /* outline: 1px solid red; */
    resize: none;
    width: 100%;

    -ms-overflow-style: none;
    scrollbar-width: none;
    z-index: 10;

}

#formTitle{
    min-height: auto !important;
    font-size: 1.5rem;
}

/* Hides Scrollbar, disabling for dev, enable for live */
.itemWindow form textarea::-webkit-scrollbar {
    display: none;
  }

  /* New Item Window */
  .itemWindowBackground{
    /* outline: 1px solid red; */
    position: fixed;
        left: 0;
        top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1;
  }