.simpleApiFetch__viewContainer{
    cursor: default;
}

/* Title */
.simpleApiFetch__title h5{
    margin-bottom: -3px;
}

/* Banner Image */
.simpleApiFetch__bannerImage img{
    max-height: 250px;
}

/* User Information */
.simpleApiFetch__userInformationWrapper > div {
    margin-bottom: 12px;
}

/* User Image and Name */
.simpleApiFetch__userImage--picture{
    margin-top: -40px;
}

.simpleApiFetch__userImage--picture img{
    border-radius: 80px;
    outline: 2px solid black;
}
.simpleApiFetch__userImage--picture h2{
    font-size: 1.25rem;
    margin-bottom: -5px;
}


/* User Social DM and Follow Button */
#followButton{
    border-radius: 15px;
    font-weight: bold;
    height: fit-content;
}

.locationLink{cursor: pointer;}
.locationLink a,.locationLink a:active,.locationLink a:visited{
    color: rgba(255,255,255,.5)!important;
}

.simpleApiFetch__userAccountInfo > span{
    margin-right: 10px;
    white-space: nowrap;
}


#white-space-pre-wrap{white-space:pre-wrap}