@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');

h2{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold !important;
}

a, a:active, a:hover, a:visited, a:focus, a:focus-visible{
  color: black !important;
  text-decoration: none !important;
}