.searchMap{
    /* background-color: #2a2e32; */
    /* height: 200px; */
    /* margin-top: 15px; */
    /* margin-left: 15px; */
    
    outline: 1px solid #2a2e32;
    position: relative;
    width: 260px;
    z-index: 999;
}

/* .searchMap form{

} */

.searchMap form input{
    border: none;
    height: 50px;
    font-size: 1.5rem;
}
    .searchMap form input:focus-visible{
        outline: none !important;
    }

.goToCountryButton{
    background-color: limegreen;
    cursor: pointer;
    display: flex;
        align-items: center;
    font-size: 1rem;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;

    animation: showButton .25s;
    animation-fill-mode: forwards;

    transform: translateY(-20px);
    position: relative;
    z-index: 800;
}



@keyframes showButton{
    0%{
        opacity: 0; 
        transform: translateY(-20px);
    }
    50%{
        transform: translateY(0px);
    }
    100%{
        opacity: 2; 
        transform: translateY(0px);
    }
}