.simpleVideo__controlsContainer{
    background-color: #00000085;
    z-index: 10;
}

.simpleVideo__controls{
    color: white;
}

.simpleVideo__controls span{
    font-size: 2rem;
}   

.simpleVideo__video{
    width: 175%;
}

.simpleVideo__header{
    color: white;
    z-index: 11;
}